:root{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0px;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    line-height: 1.5;
    height: 100%;
}

#root{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv{
    border: 1px solid gray;
    width: clamp(600px, 70%, 900px);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-shrink: 0;
}

.section-one-info{
    display: flex;
    justify-content: center;
    gap: 10px;
}

section:first-of-type{
    background-color: cadetblue;
    color: white;
}

h4{
    font-size: 1.2rem;
}

p:not(.section-one-info p){
    font-size: 1.5rem;
}

.btn-parent{
    display: flex;
    justify-content: right;
}

button{
    padding: 4px 32px;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}

label{
    display: block;
}

fieldset{
    border-right: transparent;
    border-left: transparent;
    border-bottom: transparent;
}